
.heading{
    background-size: contain!important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading h1{
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--text-shadow);
}
about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.about .image{
    flex: 1 1 41rem;
}
.about .image img{
    width: 100%;
}
.about .content{
    flex: 1 1 41rem;
    text-align: center;
}
.about .content h3{
    font-size: 3rem;
    color: var(--black);
}
.about .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}
.about .content .icons-container{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-end;
}
.about .content .icons-container .icons{
    background: var(--light-bg);
    padding: 2rem;
    flex: 1 1 10rem;
}
.about .content .icons-container .icons i{
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--main-color);

}
.about .content .icons-container .icons span{
    font-size: 1.5rem;
    color: var(--light-black);
}













.footer{
    background:url(Image/example.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmaax(25rem, 1fr));
    gap: 3rem;
}
.footer .box-container .box h3{
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;

}

.footer .box-container .box a{
    color: var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;

}
.footer .box-container .box a i{
    color: var(--main-color);
    padding-right: 1.5rem;
    transition: .2s linear;
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

